@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@progress/kendo-theme-material/scss/all";

.width {
  &-100 {
    width: 100%
  }
}

.k-picker-wrap {
  @extend .mt-2;
  box-shadow: none;
  border-radius: 0;
}
